<% if spree_current_user %>
  <li><%= link_to Spree.t(:my_account), spree.account_path %></li>
  <li id="link-to-logout" data-logout-path="<%= spree.login_path %>" > <%= link_to Spree.t(:logout), spree.logout_path %></li>
<% else %>
  <li id="link-to-login" data-logout-path="<%= spree.logout_path %>" > <%= link_to Spree.t(:login), spree.login_path %></li>
<% end %>
