<% levels = ["Never tried", "Beginner", "Intermediate", "Advanced" ] %>
<p>
  <%= f.label :email, Spree.t(:email) %><br />
  <%= f.email_field :email, :class => 'title', :value => session[:login_email] %>
</p>
<div id="password-credentials">
  <p>
    <%= f.label :password, Spree.t(:password) %><br />
    <%= f.password_field :password, :class => 'title' %>
  </p>

  <p>
    <%= f.label :password_confirmation, Spree.t(:confirm_password) %><br />
    <%= f.password_field :password_confirmation, :class => 'title' %>
  </p>

  <p>
    <%= f.label :knitting_level, Spree.t(:describe_your_knitting_level) %><br />
    <%= f.select(:knitting_level, levels) %>
  </p>

  <p>
    <%= f.label :crochet_level, Spree.t(:describe_your_crochet_level) %><br />
    <%= f.select(:crochet_level, levels) %>
  </p>
</div>

<div data-hook="signup_below_password_fields"></div>
